@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
.comps {
  display: flex;
  padding-top: 65px;
  padding-bottom: 100px;
  font-family: "Noto Sans JP", sans-serif;
  align-items: center;
  background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
}
.comps__text {
  display: -ms-inline-grid;
  place-items: center;
  margin-left: 40px;
  margin-right: 35px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.comps__image {
  margin-top: 30px;
  margin-left: 40px !important;
  margin-right: 20px;
  max-width: 70%;
  height: auto;
}
.comps__textPrimary {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  text-shadow: 2px 2px 4px #181818;
}

.comps__textSecondary {
  margin-top: 45px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.comps__textSecondary > h4 {
  margin-top: 30px;
}
@media only screen and (min-width: 986px) {
}
@media only screen and (max-width: 986px) {
  .comps {
    display: grid;
  }
  .comps_text {
    display: -ms-inline-grid;
    place-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .comps__svg {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 85%;
    height: auto;
  }
  #e6d15d18-a685-4480-ac2b-bd578043a679 {
    margin-left: 30px !important;
    text-align: center;
  }
}
.btn-1 {
  font-family: "Noto Sans JP", sans-serif;
  background: #66a6ff;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.9rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  outline: none;
}
.btn-1::after {
  content: "➜";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
  outline: none;
}
.btn-1:hover {
  background: #6c63fb;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 10px #00f 61;
  padding: 1rem 2.5rem 1rem 1rem;
}
.btn-1:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.comps__textButton {
  align-items: center;
  text-align: center;
  margin-top: 35px;
  outline: none;
}

#e6d15d18-a685-4480-ac2b-bd578043a679 {
  max-width: 105%;
  height: auto;
  align-items: center;
  margin-left: 20px;
}
