.HomePageHeader__logo {
  margin-left: 18px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.HomePageHeader__homeButton {
  text-decoration: none !important;
  color: #485b66;
}
.header__optionLineOne {
  font-size: 90%;
}

.header__optionLineTwo {
  font-weight: 200;
  font-size: 120%;
}
.header__link {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}
.header__shoppingIcon {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  right: 150px;
}

.header__optionMain {
  align-items: center;
  text-align: center;
}
